:root {
    --dark: #161616;
    --white: #ffffff;
    --darker: #111111;
    --grey: #a6a6a6;
    --primary: #ff3c1a;
    --dark-grey: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: var(--dark);;
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    font-size: 16pt;
    padding: 5px 10px;
}

.primary-btn:hover {
    background-color: #e63614;
}

.link {
    color: var(--grey);
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
    font-style: italic;
}

.link:hover {
    color: var(--white);
}

.red-text {
    color: var(--primary);
}