.table-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 2rem;
}

.they-owe, .you-owe, .history {
    background-color: var(--darker);
    padding: 1.5rem;
    border-radius: 10px;
    width: 100%;
}

.debt-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.table-title {
    color: var(--white);
    margin-bottom: 1rem;
}