.hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-sec {
    width: 70%;
    display: flex;
    margin-top: 200px;
    margin-bottom: 170px;
}

.lside-hero {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-title {
    color: var(--white);
    font-size: 32pt;
}

.hero-subtitle {
    color: var(--white);
    font-style: italic;
    font-size: 24pt;
    margin: 15px 0;
}

.hero-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.rside-hero {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.hero-img {
    width: max(70%, 400px);
}

.hero-info-link {
    align-self: center;
}

@media (max-width: 1100px) {
    .hero-sec {
        width: 90%;
        display: flex;
    }
}

@media (max-width: 840px) {
    .hero-img {
        width: 300px;
    }
}

@media (max-width: 700px) {
    .rside-hero {
        display: none;
    }

    .hero-sec {
        justify-content: center;
        width: 70%;
    }

    .lside-hero {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-self: center;
    }
}

@media (max-width: 450px) {
    .hero-sec {
        width: 95%;
        margin-top: 100px;
        margin-bottom: 0px;
    }

    .hero-title {
        font-size: 24pt;
    }

    .hero-subtitle {
        font-size: 18pt;
    }
    
    .hero-btns {
        font-size: 14pt;
    }

    .hero-info-link {
        font-size: 12pt;
    }
}