.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .sec {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.information img {
    max-height: 100%;
    max-width: 100%;
}

.information .lside-sec, .information .rside-sec {
    width: 45%;
}

.title-info {
    color: var(--white);
}

.desc-info {
    color: var(--white);
}

.rside-sec .desc-info, .rside-sec .title-info {
    text-align: right;
}

@media (max-width: 1250px) {
    .information .sec {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .information .sec {
        flex-direction: column;
        margin-top: 50px;
        text-align: center;
    }

    .information .lside-sec, .information .rside-sec {
        width: 100%;
        margin-top: 20px;
    }

    .information .sec2 {
        flex-direction: column-reverse;
    }

    .information .sec2 .rside-sec .desc-info, .information .sec2 .rside-sec .title-info {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .information .sec {
        width: 95%;
    }

    .desc-info {
        font-size: 14px;
    }
}