.debt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--dark-grey);
    border-radius: 5px;
}

.debt-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.debt-primary {
    color: var(--white);
    font-weight: 600;
}

.debt-secondary {
    color: var(--grey);
    font-style: italic;
}

.debt-amount {
    color: var(--primary);
    font-weight: 600;
}

@media (max-width: 650px) {
    .debt-info .primary-btn {
        font-size: 12pt;
    }

    .debt-amount {
        font-size: 10pt;
    }

    .debt-reason {
        font-size: 10pt;
    }
}

@media (max-width: 430px) {
    .debt-item {
        padding: 16px 8px;
    }

    .debt-person {
        font-size: 10pt;
    }
}

.checkmark {
    color: var(--primary);
    font-size: 20pt;
    font-weight: bold;
}