#footer {
    background-color: var(--extra-dark);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 200px;
    text-align: center;
    align-items: center;
    background-color: var(--darker);
    margin-top: 100px;
}

#footer p {
    margin-top: 20px;
    font-size: 13pt;
}