header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: var(--darker);
}

.header-title {
  color: var(--white);
  font-size: 24pt;
  font-weight: 700;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.header-info-link {
  margin-right: 20px;
}

@media (max-width: 500px) {
    header {
        padding: 25px 15px;
    }

    .header-title {
        font-size: 18pt;
    }

    .header-info-link {
        font-size: 10pt;
    }

    header .primary-btn {
        font-size: 14pt;
    }
}

@media (max-width: 360px) {
    .header-info-link {
        margin-right: 5px;
    }

    header .primary-btn {
        font-size: 12pt;
    }
}

@media (max-width: 325px) {
    .header-info-link {
        display: none;
    }
}

.rside-header {
    display: flex;
    align-items: center;
    gap:5px;
}

select{
    background: var(--primary);
    color: var(--white);
    font-size: var(--font-size);
    border-radius: 5px;
}